In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
vgsales = pd.read_csv('vgsales.csv')
vgsales.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [3]:
genre_map = {'Action':1,'Sports':2,'Misc':3,'Role-Playing':4,
             'Shooter':5,'Adventure':6,'Racing':7,'Platform':8,
            'Simulation':9,'Fighting':10,'Strategy':11,'Puzzle':12}

In [5]:
vgsales['Genre_Class'] = vgsales['Genre'].map(genre_map)

In [6]:
games = vgsales.pivot_table(columns='Name')

In [7]:
games

Name,'98 Koshien,.hack//G.U. Vol.1//Rebirth,.hack//G.U. Vol.2//Reminisce,.hack//G.U. Vol.2//Reminisce (jp sales),.hack//G.U. Vol.3//Redemption,.hack//Infection Part 1,.hack//Link,.hack//Mutation Part 2,.hack//Outbreak Part 3,.hack//Quarantine Part 4: The Final Chapter,...,nail'd,pro evolution soccer 2011,th!nk Logic Trainer,thinkSMART,thinkSMART FAMILY!,thinkSMART: Chess for Kids,uDraw Studio,uDraw Studio: Instant Artist,wwe Smackdown vs. Raw 2006,Â¡Shin Chan Flipa en colores!
EU_Sales,0.10,0.00,0.09,0.00,0.00,0.38,0.00,0.18,0.11,0.07,...,0.020,0.380000,0.00,0.00,0.00,0.00,0.58,0.050,1.02,0.00
Genre_Class,2.00,4.00,4.00,4.00,4.00,4.00,4.00,4.00,4.00,4.00,...,7.000,2.000000,12.00,3.00,3.00,3.00,3.00,3.000,10.00,8.00
Global_Sales,0.41,0.17,0.23,0.16,0.17,1.27,0.14,0.68,0.46,0.18,...,0.110,0.753333,0.01,0.10,0.03,0.01,2.46,0.105,3.00,0.14
JP_Sales,0.12,0.17,0.00,0.16,0.17,0.26,0.14,0.20,0.17,0.00,...,0.000,0.151667,0.00,0.00,0.00,0.00,0.00,0.000,0.00,0.14
NA_Sales,0.15,0.00,0.11,0.00,0.00,0.49,0.00,0.23,0.14,0.09,...,0.080,0.091667,0.01,0.09,0.03,0.01,1.67,0.045,1.57,0.00
Other_Sales,0.03,0.00,0.03,0.00,0.00,0.13,0.00,0.06,0.04,0.02,...,0.015,0.130000,0.00,0.01,0.00,0.00,0.20,0.010,0.41,0.00
Rank,4756.00,8359.00,7109.00,8604.00,8306.00,1565.00,9076.00,3004.00,4296.00,8009.00,...,10240.500,5154.333333,16420.00,10798.00,14387.00,16417.00,628.00,11681.500,471.00,9137.00
Year,1998.00,2006.00,2006.00,2006.00,2007.00,2002.00,2010.00,2002.00,2002.00,2003.00,...,2010.000,2010.000000,2009.00,2010.00,2010.00,2011.00,2010.00,2011.000,NaN,2007.00

In [8]:
mygame = input()
this_game = games[mygame]
recomand = games.corrwith(this_game)
corr_mygame = pd.DataFrame(recomand, columns=['correlation'])
corr_mygame.dropna(inplace = True)
corr_mygame.sort_values('correlation', ascending = False ).head(6)

New Super Mario Bros.

                           correlation
Name
New Super Mario Bros.         1.000000
New Super Mario Bros. Wii     0.999996
Pokemon Red/Pokemon Blue      0.999994
Wii Play                      0.999994
Mario Kart DS                 0.999990
Nintendogs                    0.999990